@page
@model Client_Sales.Pages.Sales.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Sale</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sale.Year)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sale.Year)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sale.UnitsSold)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sale.UnitsSold)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sale.ConsoleId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sale.ConsoleId)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Sale.SaleId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
