@model API_Sales.Modèle.Consolec

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Consolec</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReleaseYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReleaseYear)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ManufacturerId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ManufacturerId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ConsoleId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
